.footer-bg{
    background-color: #222529;
    padding-top: 50px;
}
.footer-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;color: #fff;
    font-family: Roboto;
}
.contact-name{
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    font-family: Roboto;
}
.icon{
    color: #ffffff;
    font-size: 26px;
}
.text{
    font-size: 14px; 
    line-height: 20px; 
    color: #a8a8a8;
}
.footer-list{
    color: #a8a8a8;
    font-family: Roboto;
    font-size: 14px;
    cursor: pointer;
}
.caret-icon{
    margin-right: 0.625rem;
    color: #fff;
}
input#footer-email {
    border: none;
    outline: none;
    padding: 10px 3px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}
.newsletter-button {
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    margin-top: 5px;
}
.newsletter-button:hover{
    background-color: white;
    color: black;
}
.social-icon {
    font-size: 20px;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}